$pink: #DA6482;
$text: #9D929B;
$dark: #333;
$darker: #222;

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@mixin cols($cols, $gutter: 1em) {
  -moz-column-count: $cols;
  -webkit-column-count: $cols;
  column-count: $cols;
  -moz-column-gap: $gutter;
  -webkit-column-gap: $gutter;
  column-gap: $gutter;
}

header {
  background-color: $darker;
  height: 100px;
  padding: 20px;
  color: white;
  img {
    animation: App-logo-spin infinite 20s linear;
    height: 50px;
  }
  h2 {
    font-size: 2.56rem
  }
}

body {
  background-color: $dark;
  color: $text;
  a {
    color: $pink;
  }
}

nav.row {
  background-color: $pink;
  margin-bottom: 0;
}

#currentCard {
  position: fixed;
  right: 50px;
  top: 100px;
  z-index: 100;
}

.set-list, .card-list, .deck-list {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  height: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .collection {
    margin: 0;
    border: 0;
    border-radius: 0;
    .collection-item {
      background: none;
      border-bottom-color: $darker;
      position: relative;
      transition: background-color .1s;
      cursor: pointer;
      &.active, &:hover {
        background-color: rgba(0,0,0,0.2);
      }
    }
  }
}

.set-list {
  width: 300px;
  background: darken($dark, 4%);
  .collection-item {
    padding: 0;
  }
  a {
    display: block;
    padding: 10px 20px;
  }
}

.card-list {
  background: darken($dark, 2%);
}

.deck-list {
  padding: 10px 20px;
  .cols {
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;

    &.c2 {
      @include cols(2);
    }
    &.c3 {
      @include cols(3);
    }
    > * {
      -webkit-column-break-inside: avoid;
      break-inside: avoid;
      page-break-inside: avoid;
      display: inline-block;
    }

    li {
      position: relative;
      margin-left: 20px;
      span {
        position: absolute;
        left: -20px;
      }
    }
  }
}
